[submodule "hugo-theme-cactus"]
	path = hugo-theme-cactus
	url = git@github.com:monkeyWzr/hugo-theme-cactus.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:monkeyWzr/hugo-theme-cactus.git
