@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://themes.fkaya.dev/ */ 
@layer base {
  :root {
    --background: 180 8% 95%;
    --foreground: 150 8% 5%;

    --card: 180 8% 95%;
    --card-foreground: 150 8% 5%;

    --popover: 180 8% 95%;
    --popover-foreground: 150 8% 5%;

    --primary: 167 66% 53%;
    --primary-foreground: 120 9% 2%;

    --secondary: 168 11% 91%;
    --secondary-foreground: 150 8% 5%;

    --muted: 165 9% 91%;
    --muted-foreground: 169 9% 45%;

    --accent: 168 11% 91%;
    --accent-foreground: 150 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 160 9% 87%;
    --input: 167 9% 81%;
    --ring: 167 36% 72%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 160 7% 8%;
    --foreground: 180 9% 98%;

    --card: 180 6% 10%;
    --card-foreground: 180 9% 98%;

    --popover: 180 6% 10%;
    --popover-foreground: 180 9% 98%;

    --primary: 167 66% 53%;
    --primary-foreground: 120 9% 2%;

    --secondary: 165 8% 19%;
    --secondary-foreground: 180 9% 98%;

    --muted: 169 7% 29%;
    --muted-foreground: 168 8% 49%;

    --accent: 167 71% 19%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 168 8% 12%;
    --input: 165 9% 18%;
    --ring: 167 66% 40%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}